body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    position: relative; 
}

header, footer {
    text-align: center;
    margin-bottom: 20px;
}

h1, h2, h3 {
    margin-bottom: 10px;
}

#projetos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.projeto {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 5px;
}

/* Botão de contato do bravo */
.contato-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Posicionamento da logo */
header img {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 80px;
    
}

label {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #888;
    border-radius: 50%;
    margin: 0 5px;
}



img {
    max-width: 300px;
    margin: auto;
    padding: 30px;
    position: relative; 
    display: block;
    
}